<div class="btn-retour">
  <%= link_to "Retour", tanks_path %>
</div>
<div class="px-5">
  <h2><%= @tank.name %></h2>
</div>

<div class="container">
  <div class="row" >
    <%= image_tag @tank.picture, width: 100, class: "round-image" %>
  </div>

  <div class="row">
    <p><%= @tank.category %></p>
  </div>

  <div class="row">
    <p><%= @tank.description %></p>
  </div>

  <div class="row">
    <p><%= @tank.rating %></p>
  </div>

  <div class="price">
    <p><%= @tank.price %>€/mois</p>
  </div>
  <%= render "form", tank: @tank, reservation: @reservation %>
</div>
