
<div class="container">
  <div class="d-flex justify-content-center mb-5">
    <h2>Mon profil</h2>
  </div>

  <div class="row">
    <h3>Mes Tanks</h3>
  </div>

  <div class="row mt-4">
    <% @tanks.each do |tank| %>
      <div class="">
        <div class="card h-100 rounded">
          <div class="row">
            <div class="card-img-container col-sm-3" style="height: 200px; overflow: hidden;">
              <%= image_tag tank.picture, class: "card-img w-100 h-100 object-fit-cover rounded-top" %>
            </div>
            <div class="col-sm-6">
              <h5 class="mt-3"><strong><%= tank.name %></strong></h5>
              <p><%= tank.description %></p>
              <p><%= tank.price %>€</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mt-5">
    <h3>Mes réservations</h3>
  </div>

  <div class="row mt-4">
    <% @my_reservations.each do |reservation| %>
      <div class="">
        <div class="card h-100 rounded">
          <div class="row">
            <div class="card-img-container col-sm-3" style="height: 200px; overflow: hidden;">
              <%= image_tag reservation.tank.picture, class: "card-img w-100 h-100 object-fit-cover rounded-top" %>
            </div>
            <div class="col-sm-6">
              <h5 class="mt-3"><strong><%= reservation.tank.name %></strong></h5>
              <p><%= reservation.tank.description %></p>
              <p><%= reservation.tank.price %>€</p>
               <% if reservation.status == "en attente" %>
                <p class="btn btn-primary">Réservation en attente...</p>
              <% elsif  reservation.status == "Accepter" %>
                <p class="btn btn-success">Réservation acceptée !</p>
                <p>01/03/2024</p>
              <% elsif  reservation.status == "Refuser" %>
                <p class="btn btn-danger">Réservation refusée !</p>
                <p>01/03/2024</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mt-5">
    <h3>Mes locations</h3>
  </div>

  <div class="row mt-4">
    <% @reservations_to_me.each do |reservation| %>
      <div class="">
        <div class="card h-100 rounded">
          <div class="row">
            <div class="card-img-container col-sm-3" style="height: 200px; overflow: hidden;">
              <%= image_tag reservation.tank.picture, class: "card-img w-100 h-100 object-fit-cover rounded-top" %>
            </div>
            <div class="col-sm-6">
              <h5 class="mt-3"><strong><%= reservation.tank.name %></strong></h5>
              <p><%= reservation.tank.price %>€</p>
              <% if reservation.status == "en attente" %>
                <%= button_to 'Accepter', accept_owner_tank_reservation_path(reservation.tank, reservation), method: :patch, class: "btn btn-success mb-2" %>
                <%= button_to 'Refuser', decline_owner_tank_reservation_path(reservation.tank, reservation), method: :patch, class: "btn btn-danger mt-2" %>
              <% elsif  reservation.status == "Accepter" %>
                <p class="btn btn-success">Vous avez acceptée la réservation !</p>
                <p>01/03/2024</p>
              <% elsif  reservation.status == "Refuser" %>
                <p class="btn btn-danger">Vous avez refusée la réservation !</p>
                <p>01/03/2024</p>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
